minirt/src/skybox/texture/earth_clouds8k.xpm
minirt/src/skybox/texture/earth_night8k.xpm
minirt/src/skybox/texture/earth8k.xpm
minirt/src/skybox/texture/mars.xpm
minirt/src/skybox/texture/skybox.xpm
minirt/src/skybox/texture/skyboxHD.xpm